= provide(:title, 'Edit product')

.col-md-6.col-md-offset-3
  .row
    .panel.panel-default
      .panel-heading
        %h1 Edit product
      .panel-body
        %strong.center Current image
        %br/
        = image_tag @product.image.url(:medium)
        %br/
        = render 'form'
        = link_to "Back", product_path
